.tournaments-container {
  padding: 16px;
}


.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.filter-btn {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 32px;
  background-color: #eee;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.tabs .active {
  background-color: #1E90FF;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.search-input-wrapper {
  position: relative;
  flex: 1;
}

.search-input-wrapper input {
  width: 100%;
  padding-left: 32px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center; /* placeholder будет по центру */
}

.search-input-wrapper input:not(:placeholder-shown) {
  text-align: left;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.filter-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.tournament-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tournament-card {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 32px;
  padding: 12px;
  position: relative;
}


.tournament-info {
  flex: 1;
}

.tournament-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}

.tournament-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}

.tournament-judge {
  font-size: 12px;
  color: #666;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.status-circle.past {
  background-color: #ccc; /* Серый */
}

.status-circle.upcoming {
  background-color: #1E90FF; /* Жёлтый */
}

.status-circle.closer{
  background-color: #F9CE23;
}

/* Ближайший турнир */
.upcoming-banner {
  background-color: #0070EF;
  color: #fff; 
  border-radius: 32px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 100px;
  width: 90%;
}

.upcoming-header {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.tournament-label {
  font-size: 12px;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.tournament-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.upcoming-title{
    font-size: 20px;
    font-weight: 500;
}

.upcoming-date{
    font-weight: 500;
}

.tournament-details {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    background: none;
    border: none;
    font-size: 16px;
    color: #007bff;
    display: flex;
     align-self: flex-start;
    gap: 8px;
    margin-bottom: 16px;
}

.details-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
    align-items: center;
}

.details-info {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.date-chip, .matches-chip {
    background-color: #f0f0f0;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
}

.judge {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.apply-button {
    background-color: #2b60ff;
    color: white;
    padding: 12px 35px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    width: 80%;
}

.participants-section {
    margin-top: 24px;
    padding: 0 16px;
    width: 100%;
    max-width: 480px;
}

.participants-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
}

.participant-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.participant-card {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 16px;
    padding: 10px 12px;
}

.participant-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 12px;
}

.participant-info {
    display: flex;
    flex-direction: column;
}

.participant-name {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;

}

.participant-age {
    font-size: 14px;
    color: #666;
}

.participants-notfound{
  text-align: center;
}

.apply-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: black;
}

.requests-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 0;
}

.request-card {
  border: 1px solid #ddd;
  border-radius: 32px;
  padding: 12px 16px;
  background-color: #E8E8E8;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}

.request-date {
  font-weight: 600;
  color: #666;
  margin-bottom: 4px;
}

.request-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.request-judge {
  font-size: 14px;
  color: #444;
  margin-bottom: 6px;
}

.request-status {
  font-size: 16px;
  color: #929292;
  font-family: 'Manrope', sans-serif;
  border-radius: 32px;
  padding: 10px;
  width: 100%; 
  box-sizing: border-box; 
  margin-bottom: 8px;
  text-align: center;
}

.request-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accepted{
  border: 2px solid #27A959;
  color: black;
}

.cancelled{
  border: 2px solid #FF0000;
  color: black;
}

.skip-btn {
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
  color: #0070EF;
}

.filter-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px;
}


.filter-header{
  text-align: center;
}

.filter-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.filter-items button {
  font-size: 20px;
}

.filter-items .active {
  background-color: #1E90FF;
  color: white;
}

.confirm-btn2{
  margin-top:40%;
}